<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>asgdhjhasghj</title>
</head>

<body>
<%-msg%>93290030
123444sdsaasdas111s dghasjdgashjh111234sagdhjasghjjsgdjasghj121jghjghjdgasdjsahsvbnsavdb123nvasggga!!非常的棒!!!sagdhasgdhasjh啊大撒
###gsdahasghdj###

<%for(var i=0;i<90;i++){%>
	<%-i%>
<%}%>
撒反对个沙发的规划帆帆帆帆从v把这些uuuuu

### 性能还可以的说!!!11111232131###sgdhasghjgashdjhahahahah1111
<input type="text">
sgdhgdjgsdghajsgdhjadsa</br></br></br></br>khjkashasdjk</br>

####!!1231212!</br>
##SAD!!!</br>
sahassjkd#x,asdah#</br>
#!@ada##</br>
asdnman##sgdhgj</br>
</body>
</html>
