<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/main.css" />
<script src="scripts/main.js"></script>


<title>未定义</title>
</head>
<body>
<!--star-->
<div id="fullpage">
	
	<div class="section section1">
		<img class="bg" src="images/section1.jpg" />
		<div class="bg11"></div>
		<div class="bg12"></div>
		<div class="bg13"></div>
	</div>
	<div class="section section2">
		<img class="bg" src="images/section2.jpg" />
		<div class="bg21"></div>
		<div class="bg22"></div>
		<div class="bg23"></div>
	</div>
	<div class="section section3">
		<img class="bg" src="images/section3.jpg" />
		<div class="bg31"></div>
		<div class="bg32"></div>
		<div class="bg33"></div>
	</div>
	<div class="section section4">
		<img class="bg" src="images/section4.jpg" />
		<div class="bg41"></div>
		<div class="bg42"></div>
		<div class="bg43"></div>
	</div>
	<div class="section section5">
		<img class="bg" src="images/section5.jpg" />
		<div class="bg51"></div>
		<div class="bg52"></div>
		<div class="bg53"></div>
		<div class="bg54"></div>
	</div>
	<div class="section section6">
		<img class="bg" src="images/section6.jpg" />
		<div class="bg61"></div>
		<div class="bg62"></div>
	</div>
	<div class="section section7">
		<img class="bg" src="images/section7.jpg" />
		<div class="bg71"></div>
		<div class="bg72"></div>
		<div class="bg73"></div>
		<div class="bg74"><img src="images/bg74.png"/></div>
	</div>
	<div class="section section8">
		<img class="bg" src="images/section8.jpg" />
		<div class="bg81"></div>
		<div class="bg82"></div>
		<div class="bg83"></div>
		<div class="bg84"></div>
	</div>
	<div class="section section9">
		<img class="bg" src="images/section9.jpg" />
		<div class="bg91"></div>
		<div class="bg92"></div>
		<div class="bg93"></div>
	</div>
	<div class="section section10">
		<img class="bg" src="images/section10.jpg" />
		<div class="bg101"></div>
		<div class="bg102"></div>
		<div class="bg103"></div>
	</div>

</div>
<!--end-->
</body>
</html>

<script>


</script>